# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
Language:	Cpp
BasedOnStyle: Google

# 访问说明符(public、private等)的偏移(缩进或者对齐)
AccessModifierOffset:	-4

# 开括号(开圆括号、开尖括号、开方括号)后的对齐: Align, DontAlign, AlwaysBreak(总是在开括号后换行)
AlignAfterOpenBracket: Align

# 对齐结构体数组
# AlignArrayOfStructures: true

# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: true

# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: true

AlignConsecutiveMacros: AcrossEmptyLines

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

# 右对齐逃脱换行(使用反斜杠换行)的反斜杠
AlignEscapedNewlines: Left

# 水平对齐二元和三元表达式的操作数
AlignOperands: Align

# 对齐连续的尾随的注释
AlignTrailingComments: true

#  不允许在函数声明的参数列表中的左括号前换行
AllowAllArgumentsOnNextLine: false

# 不允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine: false

# 只允许空的块放在同一行
AllowShortBlocksOnASingleLine: Empty

# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine: true

# 不允许短枚举在单行上
AllowShortEnumsOnASingleLine: false

# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine: Empty

# 允许短的if语句保持在同一行
AllowShortIfStatementsOnASingleLine: false

# 允许短匿Lambda函数在单行上
AllowShortLambdasOnASingleLine: Empty

# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: true

# 总是在返回类型后换行: None, All, TopLevel(顶级函数，不包括在类中的函数), 
# AllDefinitions(所有的定义，不包括声明), TopLevelDefinitions(所有的顶级函数的定义)
AlwaysBreakAfterReturnType: None

# 总是在多行string字面量前换行
AlwaysBreakBeforeMultilineStrings: false

# 总是在template声明后换行
AlwaysBreakTemplateDeclarations: true

# false表示函数实参要么都在同一行，要么都各自一行
BinPackArguments: true

# false表示所有形参要么都在同一行，要么都各自一行
BinPackParameters: true

# 位段列的空白风格
BitFieldColonSpacing: After

# 大括号换行，只有当BreakBeforeBraces设置为Custom时才有效
BreakBeforeBraces: Custom
BraceWrapping:
  # classLabel定义后面
  AfterCaseLabel: false
  # class定义后面
  AfterClass: false
  # 控制语句后面
  AfterControlStatement: false
  # enum定义后面
  AfterEnum: false
  # 函数定义后面
  AfterFunction: false
  # 命名空间定义后面
  AfterNamespace: false
  # struct定义后面
  AfterStruct: false
  # union定义后面
  AfterUnion: false
  # extern之后
  AfterExternBlock: false
  # catch之前
  BeforeCatch: false
  # else之前
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false 
  # 缩进大括号
  IndentBraces: false
  # 分离空函数
  SplitEmptyFunction: false
  # 分离空语句
  SplitEmptyRecord: false
  # 分离空命名空间
  SplitEmptyNamespace: false

# 在二元运算符前换行: None(在操作符后换行), NonAssignment(在非赋值的操作符前换行), All(在操作符前换行)
BreakBeforeBinaryOperators: NonAssignment

# 在三元运算符前换行
BreakBeforeTernaryOperators: false

# 在构造函数的初始化列表的冒号后换行
BreakConstructorInitializers: AfterColon

#BreakInheritanceList: AfterColon

# 字符串常量断行
BreakStringLiterals: false

# 每行字符的限制，0表示没有限制
ColumnLimit: 0

# 如果为true，则连续的名称空间声明将在同一行上。如果为false，则每个名称空间都在新行中声明
CompactNamespaces: true

# 构造函数的初始化列表的缩进宽度
ConstructorInitializerIndentWidth: 4

# 延续的行的缩进宽度
ContinuationIndentWidth: 4

# 去除C++11的列表初始化的大括号{后和}前的空格
Cpp11BracedListStyle: false

# 继承最常用的指针和引用的对齐方式
DerivePointerAlignment: false

# 访问修饰符后空行
EmptyLineBeforeAccessModifier: Always

# 固定命名空间注释
FixNamespaceComments: true

# 访问修饰符缩进
IndentAccessModifiers: true

# 缩进case标签
IndentCaseLabels: true

# Extern扩展块缩进
IndentExternBlock: Indent

# 预处理指令缩进
IndentPPDirectives: None

# 缩进要求子句
IndentRequiresClause: true

# 缩进宽度
IndentWidth: 4

# 函数返回类型换行时，缩进函数声明或函数定义的函数名
IndentWrappedFunctionNames: false

# 保留在块开始处的空行
KeepEmptyLinesAtTheStartOfBlocks: false

# 连续空行的最大数量
MaxEmptyLinesToKeep: 1

# 命名空间的缩进: None, Inner(缩进嵌套的命名空间中的内容), All
NamespaceIndentation: All

# 打包构造器初始化列表
# PackConstructorInitializers: CurrentLine
PackConstructorInitializers: NextLine

# 指针和引用的对齐: Left, Right, Middle
PointerAlignment: Left

ReferenceAlignment: Right

# 允许重新排版注释
ReflowComments: true

# 要求子句位置
RequiresClausePosition: WithPreceding

# 允许排序#include
SortIncludes: false

# 允许排序 using 声明
SortUsingDeclarations: false

# 在C风格类型转换后添加空格
SpaceAfterCStyleCast: false

# 是否在逻辑!操作符后面插入空白符
SpaceAfterLogicalNot: false

# 在Template 关键字后面添加空格
SpaceAfterTemplateKeyword: false

# 在赋值运算符之前添加空格
SpaceBeforeAssignmentOperators: true

# case前空格
SpaceBeforeCaseColon: false

# 大括号列表空格
SpaceBeforeCpp11BracedList: false

# 构造器初始化冒号空格
SpaceBeforeCtorInitializerColon: false

# 继承冒号空格
SpaceBeforeInheritanceColon: false

# 开圆括号之前添加一个空格: Never, ControlStatements, Always
SpaceBeforeParens: ControlStatements

# 循环范围里的冒号
SpaceBeforeRangeBasedForLoopColon: false

# 在空的圆括号中添加空格
SpaceInEmptyParentheses: false

# 方括号前空格
SpaceBeforeSquareBrackets: false

# 空块中的空格
SpaceInEmptyBlock: false

# 在尾随的评论前添加的空格数(只适用于//)
SpacesBeforeTrailingComments: 4

# 在尖括号的<后和>前添加空格
SpacesInAngles: false

# 在C风格类型转换的括号中添加空格
SpacesInCStyleCastParentheses: false

# 条件表达式中的空白
SpacesInConditionalStatement: false

# 在容器(ObjC和JavaScript的数组和字典等)字面量中添加空格
SpacesInContainerLiterals: true

# 在圆括号的(后和)前添加空格
SpacesInParentheses: false

# 在方括号的[后和]前添加空格，lamda表达式和未指明大小的数组的声明不受影响
SpacesInSquareBrackets: false

# 标准: c++03, c++11, c++14, c++17, c++20, Latest, Auto
Standard: c++14

# tab宽度
TabWidth: 4

# 使用tab字符: Never, ForIndentation, ForContinuationAndIndentation, Always
UseTab: Never

